@charset "UTF-8";

@font-face {
    font-family: "しねきゃぷしょん";
    src: url("../fonts/cinecaption226.ttf") format("truetype");
}

/* body */
body {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    background: #000000;
    color: #ffffff;
    font-family: 'しねきゃぷしょん', sans-serif;
    }

h2 {
    font-weight: lighter;
}
h3 {
    font-weight: lighter;
}
h4 {
    font-weight: lighter;
}

body ul {
    list-style: none;
}

body button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 3px double #ffffff;
    font-family: inherit;
    color: #ffffff;
    background: #000000;
    padding: 7px 15px;
    cursor: pointer;
}
body button:hover {
    transition: 0.2s;
    box-shadow: 0 0 5px 2px #ffffff;
}

body p input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 3px double #ffffff;
    font-family: inherit;
    color: #ffffff;
    background: #000000;
    padding: 7px 15px;
    cursor: pointer;
}
body p input:hover {
    transition: 0.2s;
    box-shadow: 0 0 5px 2px #ffffff;
}

a {
    color: #ffffff;
    /* color: #ffdc7b; */
    text-decoration: none;
    border-bottom: 3px double #ffffff;
}
a:hover {
    font-weight: bold;
}
a:visited {
    text-decoration: none;
}

body .user {
    float: left;
    padding-left: 60px;
    padding-right: 30px;
}
body .no_login {
    padding-left: 60px;
    padding-right: 30px;
}
body .count {
    float: left;
}

main #all {
    margin-left: 17px;
    font-size: 17px;
    text-decoration: none;
    font-weight: lighter;
}
main #all:hover {
    font-weight: bold;
    text-decoration: none;
}

body #index {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 20px;   
}
body #index h4 {
    padding-left: 20px;
}

body #rack {
    width: 90%;
    border: 2px solid #969696;
    margin: 0px auto;
    margin-bottom: 120px;
    padding: 25px 25px 15px 25px;
    float: left;
}

body #record {
    clear: both;
    border-bottom: 1px solid #969696;
}

body #rack p {
    float: left;
}

body #rack .media {
    width: 200px;
    color: #c7c7ff;
    clear: both;
}
body #rack .title {
    width: 400px;
    color: #ffffff;
}
body #rack .artist {
    color: #ffc7ff;
}

/* How To */
body ul.howto {
    margin: 20px 0px;
    list-style-type: disc;
}
body ul.howto h3 {
    margin: 0;
    padding:  10px 0;
    display: inline-block;
}
body ul.howto h3.caption {
    margin: 0;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 2.5px;
}
body ul.howto h3.link {
    color: #ffdc7b;
}
body ul.howto h3.media {
    color: #c7c7ff;
}
body ul.howto h3.artist {
    color: #ffc7ff;
}

body h2.line {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body h2.artist {
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: #ffc7ff;
}
body h2.artist:hover {
    font-weight: bold;
}
body h2.media {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #c7c7ff;
}
body h2.media:hover {
    font-weight: bold;
}



/* ヘッダー */
header {
    width: 90%;
    margin: 0px;
    padding-top: 20px;
    padding-left: 40px;
    /* border-bottom: 1px solid #ffffff ; */
}
header .top {
    float: left;
    color: #ffffff;
    text-decoration: none;
    border-bottom: none;
    transform: rotate(-7deg) skewX(-10deg);
}
header .top:hover{
    color: #ffc7ff;
    transition: 0.4s;
}
header h4{
    padding-left: 40px;
    padding-top: 15px;
    float: left;
}
header ul {
    float: right;
    margin: 0px;
}
header a {
    /* text-decoration: underline; */
    color: #ffffff;
}
header a:hover {
    text-decoration: none;
}
main .clear{
    clear: both;
    width: 100%;
    margin: 0px;
    padding: 15px 0px;
    border-bottom: 1px solid #ffffff;
}

main label {
    margin: 0px;
    margin-bottom: 50px;
}

body .container {
    clear: both;
    padding-left: 50px;
    padding-top: 20px;
    margin-bottom: 100px;
}


body #detail a{
    border-bottom: none;
}
body #detail h2.artist {
    margin: 0;
}
body #detail h2.media {
    margin-bottom: 20px;
}

/* フッター */
footer {
    position: fixed;
    margin: 0px;
    width: 100%;
    bottom: 0px;
    margin-top: 50px;
    background-color: #000000;
    text-align: center;
}

footer hr{
    margin: 0;
    padding: 0;
}

footer small {
    margin-bottom: 10px;
    display: block;
    color: #969696;
}