{% extends "base.html" %}
{% load static %}

{% block title %}Rack Manager -Rack{% endblock %}

{% block contents %}
{% comment %} ログインしている {% endcomment %}
{% if user.is_authenticated %}

    <br><br>
    <h2 class="user">{{ user.username }} さんのラック</h2>

    {% comment %} レコードが０件 {% endcomment %}
    {% if object_list.count == 0 %}
        <h2>登録がありません</h2>

    {% comment %} レコードが１件以上ある {% endcomment %}
    {% else %}
        <h2 class="count">
            <small>( {{ object_list.count }} 件)</small>
            <a href="{% url 'rackapp:rack' %}" id="all">全件表示</a>
        </h2><br>

        <div class="container">
            <div id="rack">
                {% for record in object_list %}
                    <div id="record">
                        <a href="{% url 'rackapp:media' media=record.media.id %}"><p class="media">{{record.media}}</p></a>
                        <a href="{% url 'rackapp:detail' record.pk %}"><p class="title">{{record.title}}</p></a>
                        <a href="{% url 'rackapp:artist' artist=record.artist.id %}"><p class="artist">{{record.artist}}</p></a>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}

{% comment %} ログインしていない {% endcomment %}
{% else %}
    <br><br>
    <ul>
        <li><a href="{% url 'accounts:login' %}">ログイン</a></li>
        <h4>既にアカウントをお持ちの方はこちら</h4>
        <li><a href="{% url 'accounts:signup' %}">会員登録</a></li>
        <h4>まだアカウントをお持ちでない方はこちら</h4>
    </ul>
{% endif %}
{% endblock %}