{% extends "base.html" %}

{% block title %}Rack Manager -Post{% endblock %}

    {% block contents %}
    <br>
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <th>媒体</th>
                    <td>{{ form.media }}</td>
                </tr>
                <tr>
                    <th>タイトル</th>
                    <td>{{ form.title }}</td>
                </tr>
                <tr>
                    <th>ふりがな</th>
                    <td>{{ form.ruby }}</td>
                </tr>
                <tr>
                    <th>アーティスト</th>
                    <td>{{ form.artist }}</td>
                </tr>
            </table>
            <br>
            <button type="submit">追加</button>
            <a href="{% url 'rackapp:register_artist' %}">アーティストの追加・削除はこちら</a>
        </form>
    </div>
    {% endblock %}