<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>どこぞの霊</title>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- ヘッダー -->
    <header>
        <a href="home.html"><h1>前田・レイ</h1></a>
        <div id="おすすめLive">
            <a href="LiveVideo.html" target="_blank"><img src="効果測定画像/前ライブ映像.png" onmouseover="this.src='効果測定画像/後ライブ映像.png'" onmouseout="this.src='効果測定画像/前ライブ映像.png'" alt="おすすめライブ映像"></a>
        </div>

        <!-- グローバルナビゲーション -->
        <nav id="グローバルナビゲーション">
            <ul>
                <li class="カレント"><a href="home.html">ＨＯＭＥ</a></li>
                <li><a href="more.html">ＭＯＲＥ</a></li>
            </ul>
        </nav>

        <!-- 右下固定 -->
        <div id="右下">
            <a href="https://tokyojihen.com" target="_blank"><img src="効果測定画像/東京事変.jpg" alt="東京事変"></a>
            <a href="https://sp.universal-music.co.jp/ringo/" target="_blank"><img src="効果測定画像/椎名林檎.jpg" alt="椎名林檎"></a>
        </div>
    </header>
    <!-- 終ヘッダー -->

    <!-- wrapper -->
    <div id="wrapper">

        <!-- メインプロフィール -->
        <section id="メインプロフィール">
            <img src="効果測定画像/諸行無常.png" alt="諸行無常">
            <p>意外と親しみやすい</p>
            <h2>前田・レイ</h2>
        </section>

        <!-- メイン -->
        <div id="メイン">
            
            <!-- プロフィール -->
            <section id="プロフィール">
                <h3>プロフィール</h3>
                    <p>名前：前田レイ</p>
                    <p>出身：山口県下関市</p>
                    <p>性格：こだわり強い</p>
                    <p>活動：夜型</p>
                    <p>食事：米派、和食派、薄味派</p>
            </section>
            <section id="経歴">
                <h3>経歴</h3>
                    <p>保育園、『新世紀エヴァンゲリオン』の綾波レイに惚れ込む。「おやすみ……」とか綾波レイの物真似で言う園児に。ドラクエ５に打ち込む。</p>
                    <p>小学校低学年、『動物と話せる少女リリアーネ』シリーズに影響を受け、ペットの鳥と意思疎通と図る。家では中森明菜を歌って踊る。</p>
                    <p>小学校高学年、上橋菜穂子『精霊の守り人』シリーズにドハマりする。主人公バルサに現を抜かしたまま送る日常。ドラクエ９に入り浸る。</p>
                    <p>中学校、記憶がない。</p>
                    <p>2019年10月17日（齢15）、椎名林檎公式YouTubeにアップされているライブ映像を何となく再生、人生がまるで好転。</p>
                    <p>2020年元日、2012年閏日に解散していた東京事変が再生（再結成）。</p>
                    <p>高校、東京事変・椎名林檎への愛が日に日に深まる。</p>
                    <p>高校卒業式の翌日、人生初の椎名林檎ライブへ。</p>
                    <p>大原入学、林檎事変オタクがバレつつある。</p>
            </section>

        </div>

        <!-- サイド -->
        <aside id="サイド">
            <h5>関連リンク</h5>
            <ul>
                <li>
                    <img src="効果測定画像/後インスタ.png" alt="インスタグラム">
                    <a href="https://www.instagram.com/e784a1" target="_blank"><img src="効果測定画像/前インスタ.png"></a>
                </li>
                <br>
                <li>
                    <img src="効果測定画像/後３０.png" alt="おすすめ30曲">
                    <a href="https://music.apple.com/jp/playlist/30-%E9%A0%86/pl.u-d2b0Ma0tM9PL5vy" target="_blank"><img src="効果測定画像/前３０.png" alt="おすすめ30曲"></a>
                </li>
            </ul>
        </aside>

    </div>
    <!-- 終wrapper -->

    <!-- フッター -->
    <footer>
        <nav id="フッターナビ">
            <ul>
                <li><a href="home.html">ＨＯＭＥ</a></li>
                <li><a href="more.html">ＭＯＲＥ</a></li>
            </ul>
        </nav>
        <small>&COPY; 2023 Lae.M </small>
    </footer>
    <!-- 終フッター -->
    
</body>

</html>